# Main dependencies
streamlit
openai
promptflow
promptflow-tools
promptflow-core
promptflow-devkit
promptflow-azure
promptflow-tracing
langchain
langchain_google_genai
langchain_openai
langchain_anthropic
python-dotenv
pydantic
weaviate-client
-e .

# Testing dependencies
pytest
pytest-cov
pytest-mock