streamlit
promptflow
promptflow-tools
promptflow-core
promptflow-devkit
promptflow-azure
promptflow-tracing
langchain
langchain_google_genai
langchain_openai
langchain_anthropic
python-dotenv
pydantic
weaviate-client
-e .

pytest
pytest-cov
pytest-mock
pytest_csv_params